<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Form</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>
<div>
    <form action="/student/{{student_data.student_id}}/update" method="POST" id="create-form">
        <div>
            <label>Roll Number:</label>
            <input type="text" name="roll" value="{{student_data.roll_number}}" required />
        </div>
        <div>
            <label>First Name:</label>
            <input type="text" name="f_name" value="{{student_data.first_name}}" required />
        </div>
        <div>
            <label>Last Name:</label>
            <input type="text" name="l_name" value="{{student_data.last_name}}" />
        </div>
        <div>
            <label>Select Courses:</label>
            <input type="checkbox" name="courses" value="course_1" />
            <label>MAD I</label>
            <input type="checkbox" name="courses" value="course_2" />
            <label>DBMS</label>
            <input type="checkbox" name="courses" value="course_3" />
            <label>PDSA</label>
            <input type="checkbox" name="courses" value="course_4" />
            <label>BDM</label>
        </div>
        <div>
            <input type="submit" value = "Submit">
        </div>
    </form>
</div>
</body>
</html>